@import "variables";
@import "reset";
@import "media-query";

body{
  background: $background-color-div;
}

.dark-bg{
  background: $background-color-div;
}

.virsta{

  &-fill-png{
    fill: $background-color-div2;
  }

  &-bg-gray{
    background: $background-color-gray;
  }

  &-size{
    width: 80%;
    display: flex;

    &-search{
      margin-left: 10px;
      width: 300px;
      height: 50px !important;
      background: $background-color-header_search;
    }
  }

  &-line{
    height: 30px;
  }

  &-width-png-30{
    width: 30px;
    fill: #535353;
  }

  &-card-body{
    height: 275px;
  }
}

.bg-white{
  background: $background-color-div2 !important;
}

.color-bg{
  background: $background-color-pink;
}

.user_photo{
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.watches{
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}


