/*header*/
header {
    background-color: rgb(54, 54, 54);
}   
.header_menu{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header_filling {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/*burger*/
.menu {
    display: block;
    padding: 9px 2px;

    background: none;
    border: 0;
    cursor: pointer;
    margin-right: 5px;

    &_item {
    display: block;
    width: 30px;
    height: 3px;

    background-color: #fff;

    font-size: 0;
    color: transparent;
   
    position: relative;
}
}
.menu_item:before,
.menu_item:after{  
    content: "";
    width: 100%;
    height: 100%;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;
}
.menu_item:before{
    top: -8px;
}
.menu_item:after{
    bottom: -8px;
}
.search-input {
    width: 300px;
    height: 30px;
    padding: 6px;
    background: rgb(133, 131, 131);
    border: 1px solid #3d3d3d;
    border-right: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.1;
    color: #333;
    font-style: italic;
    font-weight: 300;
}
.heder_search_icon {
    width: 20px;
    height: 20px;
    fill: #fff;
}