$background-color-header_search: #dedede;

$background-color-div: white;
$background-color-div2: white;

$background-color-gray: #505050;
$background-color-pink: #6a3b75;

$img1: "../img/1.png";
$img2: "../img/2.png";
$img3: "../img/3.png";
$img4: "../img/4.jpg";
$img5: "../img/5.jpg";
$img6: "../img/6.jpg";
$img7: "../img/7.jpg";
$img8: "../img/8.jpg";
